# Compile directories
build/*
output/*

# Codeblocks
*.layout
*.cbp

# Object files
*.o
*.ko
*.obj
*.elf
*.3ds
*.cia
*.3dsx
*.smdh
*.zip
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.lst

.vscode/*
